{% extends 'accounts/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}Product Delete{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="" method=post>
            {% csrf_token %}
            <div class="alert alert-danger">Are you sure you want to delete {{product.name}} ?</div>
            <input type="submit" class="btn btn-success" value="Yes">
            <a href="{% url 'accounts:product' product.id%}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>

{% endblock content %}